*{
    margin: 0px;
    padding: 0px;
    
}

body{
    background-color: #548687;
    text-align: center;
}

h1{
    padding-top: 20px;
}
.container{
    height: 50vh;
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.game{
    height: 40vmin;
    width: 40vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
    justify-content: center;
    align-items: center;
  
}
.box{
    height: 12vmin;
    width: 12vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1px;
    font-size: 5vmin;
    color: red;
    background-color: #fff;
}
#reset{
    padding: 1rem;
    font-size:1rem;
    color: white;
    background-color: black;
    border: none;
    width: 100px;
    border-radius: 8px;

}
#new-btn{
    padding: 10px;
    font-size: 15px;
    color: white;
    background-color: black;
    border: none;
    width: 100px;
    border-radius: 8px;
}
#msg{
    color:#cecece ;
    font-size: 5vmin;
    padding-bottom: 15px;
}
.msg-container{
    height: 20vmin;
    padding: 15px;
}
.hide{
    display: none;
}
